node_modules/
**/node_modules/
**/node_modules/**

cloudfunctions/mascotEngine/node_modules/
cloudfunctions/quickstartFunctions/node_modules/
cloudfunctions/getReply/node_modules/

project.private.config.json
